<!DOCTYPE html>
<html>

  <body>
      <header class="header">
        <div class="header-contents-wrapper">

     <div class ="title">
     <%= image_tag '/assets/mochimochi.png'  %>
   </div>

    <ul>
     <li><%= link_to'ホーム','/'%></li>
           <li><%= link_to 'Twitter','https://twitter.com/mochopuyon/'%></li>
           <li><%= link_to'自己紹介','/posts/introduction'%></li>
           <li><%= link_to'pixiv','https://www.pixiv.net/member.php?id=33824198'%></li>
           <li><%= link_to'ご意見','/posts/index'%></li>
           <li><%= link_to'ブログ','/posts/blog'%></li>
    </ul>

    <div class="wallpaper">
       <%= image_tag'/assets/header.png' %>
       </div>

          </div>
       </header>
       <div class="twitter">
           <a class="twitter-timeline" data-lang="ja" data-width="300" data-height="500" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/mochopuyon?ref_src=twsrc%5Etfw">Tweets by mochopuyon</a>
           <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


       </div>

      <footer>
          <a href="https://twitter.com/mochopuyon?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @mochopuyon</a>

          <p class="mail">mail:mochopuyo@yahoo.co.jp</p>

          <% if user_signed_in? %>
          <h4> ようこそ <%= current_user.email %>さん </h4>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

          <% else %>

          <div class="login"><%= link_to "ログイン", new_user_session_path, class: 'post' %></div>
          <% end %>
      </footer>
  </body>
</html>
