<!--<h1>しゅみぺーじです</h1>
<p>Find me in app/views/home/top.html.erb</p>
    -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>もちの近況報告</title>
     
  </head>

  <body>
       <header class="header">
           <div class="header-contents-wrapper">
            <ul>
              <li><%= link_to'ホーム','/'%></li>
              <li><%= link_to 'Twitter','https://twitter.com/mochopuyon/'%></li>
              <li><%= link_to'自己紹介','/posts/index'%></li>
              <li><%= link_to'pixiv','https://www.pixiv.net/member.php?id=33824198'%></li>
              <li><%= link_to'ご意見',''%></li>
              <li>comming soon</li>
              <li>comming soon</li>
          </ul>
               </div>
       </header>
      <div class="wallpaper">
          </div>
      <footer>
          <p>mail:mochopuyo@yahoo.co.jp</p>
      </footer>
  </body>

</html>
