<!DOCTYPE html>
<html>
  <head>
    <title>もちの近況報告</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>


  </head>

  <body>
      <header class="header">
           <%= react_component("Header") %>
       </header>


    <%= yield %>

      <footer>
          <a href="https://twitter.com/mochopuyon?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @mochopuyon</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          <p class="mail">mail:mochopuyo@yahoo.co.jp</p>
      </footer>
  </body>
</html>
