<!DOCTYPE html>
<html>
  <head>
    <title>もちの近況報告</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
           <div class="header-contents-wrapper">
            <ul>
              <li><%= link_to'ホーム','/'%></li>
              <li><%= link_to 'Twitter','https://twitter.com/mochopuyon/'%></li>
              <li><%= link_to'自己紹介','/posts/introduction'%></li>
              <li><%= link_to'pixiv','https://www.pixiv.net/member.php?id=33824198'%></li>
              <li><%= link_to'ご意見','/posts/index'%></li>
              <li><%= link_to'ブログ','/posts/blog'%></li>
              <li>comming soon</li>
          </ul>
               </div>
       </header>
      <div class="wallpaper">
          <img src="<%= asset_path "header.png" %>"height="400" />
          </div>
    <%= yield %>
      
      <footer>
          <a href="https://twitter.com/mochopuyon?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @mochopuyon</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          
          <p class="mail">mail:mochopuyo@yahoo.co.jp</p>
      </footer>
  </body>
</html>
